aside img{
    width:50px;
    border-radius: 50%;
    display: block;
}
aside{
    background: gray;
    padding: 1rem;
    border-radius:5px;
    width: 20%;
    position: fixed;
    top: 1rem;
}
.profile {
    width:50px;
    border-radius: 50%;
    display: block;
}
aside ul li{
    display:inline-block;
}

body{
    padding:1rem;
}
h1{
    font-size:2rem;
    margin-bottom:1rem;
}
h2{
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

main{
    padding: 1rem;
    width: 75%;
    float: right;
}

.participant-banner {
    background: white;
    padding: 1rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    position:sticky;
    top: 0;
    z-index: 1;
}
.participant-banner img,
.participant-banner h2 {
    display: inline;
}

.chat-bubble{
    background-color:#379afa;
    border-radius: 50px;
    padding: 1rem 2rem;
    color: white;
    margin: 1rem 0;
    position: relative;
    width:75%;
}
.chat-bubble-gray{
    background-color:gray;
    border-radius: 50px;
    padding: 1rem 2rem;
    color: white;
    margin: 1rem 0 auto;
    position: relative;
}

p {
    margin: 1rem 0 auto;
}

.timestamp{
    background: black;
    padding: 0.5rem;
    border-radius: 100px;
    display:inline;
    position: absolute;
    right: 3rem;
    bottom: -.5rem;
}
